<nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color:  #0D122B">
    <div class="container">
        <h1 class="navbar-brand">
            <img src="/assets/twilio-mark-white.png" width="60" height="60" alt=""/>
            Twilio Jukebox
        </h1>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/home">Home</a>
            <a class="nav-item nav-link active" routerLink="/dashboard">Dashboard</a>
            <a class="nav-item nav-link active" routerLink="/config">Config</a>
           <app-login></app-login>
        </div>
    </div>
</nav>