<section class="container" id="content">
  <div class="row">
      <div class="jumbotron">
          <h1 class="display-3">Welcome to Twilio Jukebox!</h1>
          <hr class="my-4">
          <p class="lead">To request a song, text the song name and artist to (669) 333 - SVCC  (7822)</p>
          <p class="lead">Example: "Look What You Made Me Do"</p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <h2>Now Playing</h2>
          <p id="currentsongmsg" class="invisible">No song available</p> 
          <app-current-song-request id="currentSongRequest"
              [request]="currentlyPlayingRequest"
              (play)="onPlayRequest($event);"></app-current-song-request> 
      </div>
      <div class="col-md-6">
          <h2>Currently in the Queue</h2>
          <p id="emptysonglistmsg" class="invisible">No songs available</p>                    
          <app-song-request-list [requestList]="fullRequestList"></app-song-request-list>
      </div>
  </div>
</section>